{{- if (eq (.Site.Params.disableComments | default false) false) -}}
{{- if (eq (.Params.disableComments | default false) false) -}}
<div style="margin-top: 30px; background-color: rgba(255, 239, 206, 0.922); border-radius: 4px; padding: 10px; padding-top: 15px;">
    <script id="comment" src="https://giscus.app/client.js" data-repo="definev/blog" data-repo-id="R_kgDOMpbHAw"
        data-category="General" data-category-id="DIC_kwDOMpbHA84Ch_4A" data-mapping="pathname" data-strict="0"
        data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom"
        data-theme="noborder_light" data-lang="{{ .Site.Params.defaultContentLanguage }}"
        crossorigin="anonymous" async>
        </script>
</div>
{{- end -}}
{{- end -}}